<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title = ~{::title}, content = ~{::section})}">
<head>
    <title>Web Car Store - Página Inicial</title>
</head>
<body>
<section>
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Nossos Veículos</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">

                                    <div th:each="carro : ${carros}" class="product">
                                        <div class="product-img">
                                            <img th:src="@{'/images/' + ${carro.imageUrl}}" alt="Imagem do Carro">
                                            <div class="product-label">
                                                <span class="new">NOVO</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category" th:text="${carro.marca}">Marca</p>
                                            <h3 class="product-name"><a href="#" th:text="${carro.modelo}">Modelo</a></h3>
                                            <h4 class="product-price" th:text="${'R$ ' + #numbers.formatDecimal(carro.preco, 1, 'POINT', 2, 'COMMA')}">R$ 99.000,00</h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <a th:href="@{/adicionarCarrinho/{id}(id=${carro.id})}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>