<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(title, content)"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Web Car Store</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +55-84-9999-9999</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> eaj@ufrn.br</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Macaíba, RN</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li sec:authorize="isAuthenticated()">
                    <a href="#"><i class="fa fa-user-o"></i> Olá, <span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="btn-link" style="background:none; border:none; padding:0; color:white; text-decoration: none;">
                            <i class="fa fa-sign-out"></i> Sair
                        </button>
                    </form>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}"><i class="fa fa-user-o"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a th:href="@{/index}" class="logo">
                            <img th:src="@{/img/logo.png}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <input class="input" placeholder="Procurar...">
                            <button class="search-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <div>
                            <a th:href="@{/verCarrinho}">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Seu Carrinho</span>
                                <div class="qty" th:text="${cartCount}">0</div>
                            </a>
                        </div>
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/admin}">Admin</a></li>
                <li><a th:href="@{/cadastro}">Cadastro</a></li>
            </ul>
        </div>
    </div>
</nav>
<div th:replace="${content}"></div>
<footer id="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Trabalho da Disciplina de Programação Web - EAJ/UFRN</p>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
							</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/jquery.zoom.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>